# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run/logs/debug.log
run/logs/latest.log
!run/config
!run/saves/JigsawStructures
!run/saves/Structures
!run/options.txt

# Files from Forge MDK
forge*changelog.txt
/structureList.xcf
/structures.xcf
/Logo.xcf
/run/usercache.json