# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/
!/run/config
!/run/saves/JigsawStructures
!/run/saves/Structures
!run/options.txt

/structureList.xcf
/structures.xcf
/Logo.xcf