# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/logs
run/mods
run/resourcepacks
run/saves/DungeonsEnhanced
run/saves/JigsawStructuresOld
run/saves/New World
run/screenshots
run/usercache.json
run/usernamecache.json

# Files from Forge MDK
forge*changelog.txt
/structureList.xcf
/structures.xcf
/Logo.xcf